@import "../style/abstract/mixins/media.scss";

.explore-wrapper{
    // border: 2px solid red;
    font-size: 16px;
    padding: 0em 2.8em 1em 2.8em;
    box-sizing: border-box;
    .explore-wrapper-content{
        // border: 2px solid black;

        h3{
            margin-bottom: 0em;
            padding-bottom: 0em;
            margin-top: -2em;
        }

        p{
            padding-bottom: 0em;
            margin-bottom: -1em;
            margin-top: -5em;
        }
    }
}

.food-categories-wrapper{
    // border:2px solid red;
    font-size: 16px;
    padding: 0em 2.8em 1em 2.8em;
    box-sizing: border-box;

    .food-category-row{
        border: 2px solid black;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap:2em;
        height:25vh;

        .food-category-content{
            // border: 2px solid red;
            // height:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100px;
            .category-img{
                border:2px solid grey;
                width:80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 90%;
                    height: 90%;
                    border-radius: 50%;
                    object-fit: cover;

                }
            }
            h6{
                margin-top: -3.8em;
            }
        }
    }
}


@include respond-between(480px,320px){
    .explore-wrapper{
        font-size: 14px;
    }
}

@include respond-to(481px){
    .explore-wrapper{
        font-size: 14px;
    }
}

@include respond-to(768px){
    .explore-wrapper{
        font-size: 16px;
    }
}

@include respond-to(980px){
    .explore-wrapper{
        font-size: 16px;
    }
}